:root {
  /* Neutral Colors */
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  /* Red Colors */
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /* Gradients */
  --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

  /* Shadows */
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  /* Width */
  --app-width: calc(100% - 2rem);

  /* Max Width */
  --app-max-width: 1100px;
}

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body,
html,
#root {
  min-height: 100vh;
  width: 100%;
  background: var(--light-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}


h2 {
  font-size: 1.2rem;
}

p {
  color: var(--neutral-600);
}





.extensionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
  width: var(--app-width);
  max-width: var(--app-max-width);
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--neutral-0);
  box-shadow: var(--box-shadow);
}

.showExtensionsSelector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 2rem;
  width: var(--app-width);
  max-width: var(--app-max-width);
}

.appName {
  flex: 1;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 700;
  color: var(--neutral-900);
}

.showExtensionsSelectorButtons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.cards {
  display: grid;
  grid-template-rows: repeat(4, 200px);
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 0.9rem;
  width: var(--app-width);
  max-width: var(--app-max-width);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--neutral-0);
  padding: 1.2rem;
  width: 100%;
  height: 12.3rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.cardUpperContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.cardInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
}

.cardLowerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 1rem;
}

.attribution {
  margin-top: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

@media screen and (min-width: 585px) {
  .appName {
    flex: none;
    align-items: start;
  }

  .showExtensionsSelectorButtons {
    flex: none;
    align-items: end;
  }
}