:root {}

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body,
html,
#root {
  min-height: 100vh;
  width: 100%;
  background: var(--background-default);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}


h2 {
  color: var(--text-primary);
  font-size: 1.2rem;
}

p {
  color: var(--text-secondary);
}





.extensionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
  width: var(--app-width);
  max-width: var(--app-max-width);
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--background-paper);
  box-shadow: var(--box-shadow);
}

.showExtensionsSelector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 2rem;
  width: var(--app-width);
  max-width: var(--app-max-width);
}

.appName {
  flex: 1;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-primary);
}

.showExtensionsSelectorButtons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.cards {
  display: grid;
  grid-template-rows: repeat(4, 200px);
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 0.9rem;
  width: var(--app-width);
  max-width: var(--app-max-width);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-paper);
  padding: 1.2rem;
  width: 100%;
  height: 12.3rem;
  border: 1px solid var(--card-border);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);

}

.cardUpperContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.cardInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
}

.cardLowerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 1rem;
}

.attribution {
  margin-top: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

@media screen and (min-width: 585px) {
  .appName {
    flex: none;
    align-items: start;
  }

  .showExtensionsSelectorButtons {
    flex: none;
    align-items: end;
  }
}